<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/products/add' ]"
        ><ion-icon name="add"></ion-icon>Nuevo</ion-button
      >
    </ion-buttons>
    <ion-title> Catálogo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding style="font-family: cursive">
  
  <div id="container">
    <ion-card *ngFor="let product of products">
      <ion-item>
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label>{{ product.nombre}}</ion-label>
      </ion-item>
      <ion-card-content>
        {{ product.descripcion }}

        <br />
        <div *ngFor="let provedor of product.proveedor">
          <p>Fabricado: {{ provedor.nombre }}</p>
          <p>Numero: {{ provedor.numero}}</p>
        </div>

        <ion-button block color="dark"  fill="solid" slot="end" (click)="view(product.codigo)"
          >Ver</ion-button
        >
        <ion-button block color="dark"  fill="solid" slot="end" (click)="delete(product.codigo)"
          >Borrar</ion-button
        >
        <ion-button block color="dark"  fill="solid" slot="end" (click)="update(product.codigo)"
          >Editar</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
